@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    font-size: 15px;
    flex-direction: column;
    justify-content: center;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}
.qr-code {
    background-color: hsl(0, 0%, 100%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
}
.qr-code-img {
    width: 100%;
    border-radius: 12px;
}
.qr-code-text {
    padding: 22px 10px;
}
.qr-code-text h2 {
    color: hsl(218, 44%, 22%);
    padding-bottom: 15px;
}
.qr-code-text p {
    color: hsl(220, 15%, 55%);
}
.attribution {
    text-align: center;
    font-size: 12px;
    color: hsl(220, 15%, 55%);
    margin-top: 20px;
}